@import './variables';

.dashboard {
  background-color: $primary-color;
  height: $tempheight;
  width: $tempwidth;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
