@use './variables';
@use 'sass:math';

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.svg-logo {
  min-width: 8rem;
  width: auto;
  height: auto;
}
.house {
  animation: house-animation variables.$house-animation-duration linear infinite;
  animation-direction: alternate;
  transform-origin: center;
}

.small-smoke {
  animation: smoke-animation variables.$smoke-animation-duration linear infinite;
  animation-delay: (#{math.random(1500)}ms);
}

.large-smoke {
  animation: smoke-animation variables.$smoke-animation-duration linear infinite;
  animation-delay: (#{math.random(2500)}ms);
}

.smile {
  animation: smile-animation variables.$smoke-animation-duration ease-out infinite;
  animation-delay: 2;
  animation-direction: alternate;
  transform-origin: center;
}

@keyframes house-animation {
  from {
    transform: translate(0, 0) scale(1, 1);
  }
  to {
    transform: translate(0, 20px) scale(1.05, 0.95);
  }
}

@keyframes smoke-animation {
  from {
    transform: translate(0, 20px);
    opacity: 0;
  }
  50% {
    transform: translate(0, 0) scale(1.02, 1.02);
    opacity: 1;
  }
  to {
    transform: translate(0, -20px);
    scale: 1;
    opacity: 0;
  }
}

// @keyframes smile-animation {
//   from {
//     transform: translate(-5px, -5px) rotate(0deg) scale(1);
//   }
//   to {
//     transform: translate(5px, 5px) rotate(0deg) scale(1);
//   }
// }
