@use './variables';

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  .login-container {
    background-color: variables.$primary-color;
    height: 60%;
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 1.5px 1.5px 2px 0 rgba(47, 47, 47, 0.6);
    .title-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-style: italic;
    }
    .input-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .input {
        width: 100%;
        margin: 10px 0;
      }
    }
  }
}
