// Font
$font-family: 'Balsamiq Sans', system-ui, sans-serif;

// Colors - in order of light to dark
// off-white 
$primary-color: #FAF8F4;
// darker shades of off-white

// light beige
$secondary-color: #f3eee7;
// darker beige
$secondary-color-two: #e5ded4;

// sand
$tertiary-color: #d8c3a5;
// darker shades of sand color

$highlight-color: #b0845c;
$highlight-color-two: #946846;

// text colors
$text-primary-color: #1f1f1f;
$text-secondary-color: #6b6258;



$form-border-width: 1.2px;
$form-border-color: rgb(26, 26, 26, 0.4);
$form-border-radius: 8px;
$box-shadow: 1.5px 1.5px 2px 0 rgba(47, 47, 47, 0.4);

// Dimensions
$tempheight: 5rem;
$tempwidth: 50%;

// Animations
$house-animation-duration: 2s;
$smoke-animation-duration: 3s;
